.pagination-wrapper {
	.pagination {
		display: inline-flex;
		.page-item {
			a.page-link {
				outline: none;
				color: $blue;
				border: 1px solid $gray-light;
			}
			&.disabled {
				a.page-link {
					color: $gray-light;
				}
			}

			&.active {
				a.page-link {
					background: $blue;
					border-color: $blue;
					color: #ffffff;
				}
			}
		}
	}
	label {
		color: $gray;
		font-weight: 400;
		margin-left: 24px;
		margin-right: 10px;
		font-size: 9pt;
	}
	.select-rows {
		display: inline-block;
		top: -1px;
		select {
			height: 33px;
			width: 53px;
			border-width: 1px;
			color: $blue;
		}
		i {
			top: 7px;
		}
	}
}